<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We work closely with clients to set monthly lead/sales goals, execute marketing efforts, drive strategy, support internal teams, and measure ROI.</p>
                <a href="https://goo.gl/forms/1jGQbfhwwkRRL40B2" class="btn btn-default btn-xl">Contact Harper</a>
            </div>
        </div>
    </div>
</section>
