<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Content Marketing</h3>
                    <p class="text-muted">organizations build, test, and optimize content marketing programs to drive qualified leads and sales opportunities. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Websites</h3>
                    <p class="text-muted">Websites should measurably drive leads, sales, and deeper engagement. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Marketing</h3>
                    <p class="text-muted">As a digital marketing agency, we specialize in lead generation, inbound marketing, conversion optimization, and sales nurturing. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Lead Generation</h3>
                    <p class="text-muted">We build vetting and nurturing systems to ensure that our clients can scale up their marketing and sales efforts intelligently.</p>
                </div>
            </div>
        </div>
    </div>
</section>
